* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active{
	outline: none;
}
a:visited{
    color:white 
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*--------------------*/
@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@400;500;700&display=swap');
*{
    font-family: 'Saira Extra Condensed', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    background-color: #0B1D26;
}
.img-clouds{
    position: absolute;
    z-index: 1;
    width: 100vw;
 
    
    
}
.img-mountains{
    position: absolute;
    z-index: 2;
    top: 35vh;
    width: 100vw;
}
.img-man{
    position: absolute;
    z-index: 3;
    top:50vh;
    
    width: 100vw;
}
 .img-mountains img{
    width: 100vw;
    

}
 .img-clouds img{
    width: 100vw;
    filter: brightness(80%);
    
}
 .img-man img{
    width: 100vw;
}
.header-content{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding-top: 2vh;
    
}
header{
    z-index: 4;
    position: relative;
}
.header-link2{
font-size: 18pt;
width: 10vw;
color: white;
}
.header-links{
display: flex;
justify-content: space-between;
font-size: 18pt;
width: 30vw;
color: white;

}
.header-logo{
    font-size: 8px;
    width: 8vw;
    color: white;
    padding-left: 1vw;
}
.site-background{
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

.footer-text{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: white;
    font-size: 10pt;
    width: 20vw;
    height: 25vh;
    padding-top: 2vh;
    
}
.footer-links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: white;
    font-size: 10pt;
    width: 20vw;
    height: 35vh;
    padding-top: 4vh;
}
.footer-ref{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 2vh;
    color: white;
    font-size: 10pt;
    width: 15vw;
    height: 25vh;

}
.footer-content{
    width: 98%;
    display: flex;
    justify-content: space-around;
    
    
}
.footer-header{
    color: #FBD784;
    font-size: 16pt;
}
.footer-txt{
    display: flex;
    justify-content: center;
    color: white;
    
    font-size: 12pt;
    width: 100vw;
    opacity: 50%;
    margin-top: 10vh;
    
}
footer{
    background-color: #0B1D26;
    height: 60vh;
    position: absolute;
    top: 405vh;
    width: 100vw;
}

.content01-img{
    display: flex;
    padding-top: 3vh;
    justify-content: center;
    width: 30vw;

}
.content01-text{
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50vh;
    position: relative;
}
.content01-img img{
    width:30vw;
    height: 70vh;
}
.content01-text h3{
    color: #FBD784;
    font-size: 14pt;
    font-weight: 400;
    letter-spacing: 2px;
    position: relative;
    padding-left: 7vw;
}
.content01-text h2{
    color: white;
    font-size: 30pt;
    font-weight: 500;
}
.content01-inf{
    color: white;
    font-size: 10pt;
}
.content01-link{
    color: #FBD784;
    font-size: 8pt;
   
}
.content01-ref{
    display: flex;
    justify-content: space-between;
    width: 10vw;
    align-items: center;
}
.content01 h3:before{
    content:"";
    width: 5vw;
    background-color: #FBD784;
    height: 3px;
    position: absolute;
    top: 6px;
    left: 0;
    
}
.content-number{
    position: absolute;
    top: -50px;
    font-size: 170px;
    opacity: 30%;
    color: white;
    left: -80px;

}
.gradient{
    z-index: 5;
    position: absolute;
    top: 90vh;
    width: 100vw;
    height: 20vh;
    background: rgb(11,29,38);
    background: linear-gradient(0deg, rgba(11,29,38,1) 50%, rgba(0,212,255,0) 100%);
}
.website-head{
    width: 50vw;
    height: 30vh;
    
left: 400px;
    position: absolute;
    top: 100px;
    z-index: 7;
}
.website-head-h1{
    color: white;
    font-size: 44pt;
    font-weight: 600;
    width: 50vw;

}
.website-head-h3{
    color: #FBD784;
    font-size: 14pt;
    font-weight: 400;
    letter-spacing: 6px;
    text-align: left;
    position: relative;
    padding-left:74px ;


  
    
}
.website-head-h3:before{
    content:"";
    width: 5vw;
    background-color: #FBD784;
    height: 3px;
    position: absolute;
    top: 8px;
    left: -3px;
   
    
}

.website-head-scroll{
    color: white;
    font-size: 10pt;
    
    padding: 5px;
}
.scrol-up-wrapper{
    width: 5px;
    height: 240px;
}
.scroll-up{
    width: 5px;
    height: 240px;
    
    right: 2vw;
    top:30vh;
    animation-name: moving-scroll-up;
    animation-iteration-count: 1;
    animation-duration: 3s;
    animation-delay: 1s;
     position: fixed;
    z-index: 7;
}
.scroll-up div{
    width: 5px;
    height: 60px;
    background-color: white;
    opacity: 50%;
}
#scroll-up-1{
    opacity:100%;
}
.scroll-up-content{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: white;
    justify-content: space-between;
    position: fixed;
    right: 4vw;
    top: 30vh;
    z-index: 7;
    height: 35vh;
    animation-name:moving-scroll-up-content;
    animation-iteration-count: 1;
    animation-duration: 3s;
   
}
.content01{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
    background-color: #0B1D26;
    position: absolute;
    top: 101vh;
    z-index: 2;
    position: relative;
    z-index: 6;
   
    
}
#block-1{
    animation-name: left-block-moving;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-play-state: paused;
}
#block-2{
    animation-name: right-block-moving;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-play-state: paused;

}
#block-3{
    animation-name: left-block-moving;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-play-state: paused;
}
@keyframes right-block-moving{
    from{right:-100vw; opacity:0}
    to {right: 0vw; opacity:1}
}
@keyframes left-block-moving{
    from{left:-100vw; opacity:0}
    to {left: 0vw; opacity:1}
}
@keyframes moving-scroll-up{
    from{right:-10vw;}
    to {right:2vw;}
}
@keyframes moving-scroll-up-content{
    from{right:-10vw;}
    to {right:4vw;}
}

@keyframes moving{
    from{ left:-10vw;}
    to {left:2vw ;}
}
.social-media{
    display: flex;
    width: 10vw;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    z-index: 7;
    height: 30vh;
    top: 25vh;
    left: 2vw;
    animation-name: moving ;
    animation-iteration-count: 1;
    animation-duration: 3s;


    }
    .social-media img{
        width: 24px;
        height: 24px;
    }
    .social-media-text{
        color: white;
        font-size: 10pt;
        text-align: center;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        padding: 5px;
    }
   #content-block-1{
    position: relative;
    top:-5vh;
   }
   #content-block-2{
    position: relative;
    top:-5vh;
   }
   #content-block-3{
    position: relative;
    top:-5vh;
   }
   #content-block-start{
    position: relative;
    top:-5vh;
   }
   #content-block-footer{
    position: relative;
    top:-5vh;
   }