* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*--------------------*/
@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@400;500;700&display=swap');
*{
    font-family: 'Saira Extra Condensed', sans-serif;
}
.img-clouds{
    position: absolute;
    z-index: 1;
    width: 100vw;
    
    
}
.img-mountains{
    position: absolute;
    z-index: 2;
    top: 35vh;
    width: 100vw;
}
.img-man{
    position: absolute;
    z-index: 3;
    top:50vh;
    
    width: 100vw;
}
 .img-mountains img{
    width: 100vw;
    

}
 .img-clouds img{
    width: 100vw;
    
}
 .img-man img{
    width: 100vw;
}
.header-content{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding-top: 2vh;
    
}
header{
    z-index: 4;
    position: relative;
}
.header-link2{
font-size: 18pt;
width: 10vw;
color: white;
}
.header-links{
display: flex;
justify-content: space-between;
font-size: 18pt;
width: 30vw;
color: white;

}
.header-logo{
    font-size: 8px;
    width: 8vw;
    color: white;
    padding-left: 1vw;
}
.site-background{
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

.footer-text{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: white;
    font-size: 10pt;
    width: 20vw;
    height: 25vh;
    padding-top: 2vh;
    
}
.footer-links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: white;
    font-size: 10pt;
    width: 20vw;
    height: 35vh;
    padding-top: 4vh;
}
.footer-ref{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 2vh;
    color: white;
    font-size: 10pt;
    width: 15vw;
    height: 25vh;

}
.footer-content{
    width: 100%;
    display: flex;
    justify-content: space-around;
    
    
}
.footer-header{
    color: #FBD784;
    font-size: 16pt;
}
.footer-txt{
    display: flex;
    justify-content: center;
    color: white;
    
    font-size: 12pt;
    width: 100vw;
    opacity: 50%;
    margin-top: 10vh;
    
}
footer{
    background-color: #0B1D26;
    height: 60vh;
    position: absolute;
    top: 200vh;
    width: 100vw;
}
.content01{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
    background-color: #0B1D26;
    position: absolute;
    top: 95vh;
    z-index: 2;
    position: relative;

    
}
.content01-img{
    display: flex;
    padding-top: 3vh;
    justify-content: center;
    width: 30vw;

}
.content01-text{
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50vh;
}
.content01-img img{
    width:30vw;
    height: 70vh;
}
.content01-text h3{
    color: #FBD784;
    font-size: 14pt;
    font-weight: 400;
    letter-spacing: 2px;
    position: relative;
    padding-left: 7vw;
}
.content01-text h2{
    color: white;
    font-size: 30pt;
    font-weight: 500;
}
.content01-inf{
    color: white;
    font-size: 10pt;
}
.content01-link{
    color: #FBD784;
    font-size: 8pt;
   
}
.content01-ref{
    display: flex;
    justify-content: space-between;
    width: 10vw;
    align-items: center;
}
.content01 h3:before{
    content:"";
    width: 5vw;
    background-color: #FBD784;
    height: 3px;
    position: absolute;
    top: 6px;
    left: 0;
    
}
.content-number{
    position: absolute;
    top: 10px;
    font-size: 70px;
    opacity: 30%;
    color: white;
    left: 130px;

}